#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.non-stocked {
  color: #ff7f50;
}
input[type="text"] {
  min-height: 44px;
  width: 100%;
}
input[type="checkbox"] {
  min-height: 20px;
  width: 100%;
}
